@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar{
        display: none;
    }
}
a{
    color: white;
    text-decoration: none;
}
$bg-color:rgb(30,30,30);
.header{
    height: 100px;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    > img{
        height: 70%;
    }
    >div{
        border: 1px, solid red;
        width: 100%;
        margin-left: 4vmax ;
        >a{
            margin: 1vmax;
            font-size: 1.3rem;
            font-weight: 100;
        }
    }
    >svg{
        &:hover{
            color: red;
        }
    }
    
}
.nav-links{
    border: 1px, solid red;
    margin: 1vmax;

}
.row{
    padding: 1rem;
    background-color: $bg-color;
    >h2{
      font-weight: 100;
      margin: 0.3rem;
      color: white;
    }
    > div{
        display: flex;
        overflow-x: auto;
    }
}
.card{
    width: 200px;
    cursor: pointer;
    margin: 0.3rem;
transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) scale(1.1);
    }
}